*{
  margin: 0px;
  padding: 0px;
   box-sizing: border-box;
}
.logoSection{
  width: 1349px;
  height: 127px;
  background-color: #FBE8A6;
}
.linkSection{ 
  width: 1349px;
  height: 50px;
  background-color:  #57BA98;
  position: relative;
  opacity: 1;
}
  .menuBar{  
   margin-right: 96px;
   float: right; 
   transform: translateY(-102px);
}
.menuBar>li{
 float: left;
 list-style: none;
 background-color: #57BA98;
  padding: 13px 12px; 
}
.menuBar>li>a{
  text-decoration: none;
   margin-left: 25px;  
   font-size: 16px; 
  font-weight: bold;
  color: #914343;
}
.subBar{ 
min-width: 300px;
position: absolute;
top:50px;
z-index: 444;
/* left:150px; */

display: none;
}
.subBar>li{
  list-style: none;
  background-color:	#ffe033 ;
  border-bottom: 1px solid blue;
  line-height: 35px;
}
.subBar>li>a{
  text-decoration: none;
  font-weight: bold;
  margin-left: 8px;
  color:  #914343;
}
.menuBar li:nth-child(2):hover .subBar{
  display: block;
}
.menuBar>li:hover{
  background-color: #ffca33 ;
}
.subBar>li:hover{
  background-color:  #ff9c33 ;
  z-index: 555;
}
.menuBar li:nth-child(3):hover .subBar{
  display: block;
  z-index: 55;
}
.menuBar li:nth-child(4):hover .subBar{
  display: block;
}
.menuBar li:nth-child(5):hover .subBar{
  display: block;
}
.menuBar li:nth-child(6):hover .subBar{
  display: block;
}
.menuBar li:nth-child(7):hover .subBar{
  display: block;
}
.menuBar li:nth-child(8):hover .subBar{
  display: block;
}
.menuBar li:nth-child(9):hover .subBar{
  display: block;
}

/* css for javascript(subBar) */
 #admission{ 
  left:200px;
  top:50px;
}
 #academic{ 
  left:340px;
  top:50px;
}
#circular{ 
  left:473px;
  top:50px;
}
#facilities{ 
  left:627px;
  top:50px;
}
#corner{ 
  left:755px;
  top:50px;
}
#career{ 
  left:910px;
  top:50px;
}
#contact{ 
  left:960px;
  top:50px;
}
/* code of logo and related detail */
#mvmLogo{
  transform: translateX(100px);
  padding-top: 8px;
}
#schoolName{
  margin-left: 110px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  transform: translateY(-26px);
  display: inline-block;
  word-spacing: 5px;
  color: #914343;
 }
#schoolLastName{
  color: #914343;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  transform: translateY(-85px);
  display: inline-block;
  margin-left: 290px;
  word-spacing: 5px;
 }
#aboutAffilated{
  display: inline-block;
  transform: translate(216px, -89px);
  margin-right: 415px;
  font-size: 17px;
  color: #914343;
}
#address{
  display: inline-block;
  transform: translate(-534px, -70px);
  word-spacing: -3px;
  color: #914343;
}
/* css of social logo */
#socialLogo{
 float: right; 
display: inline-block;
transform: translateY(-160px);
padding-right: 120px;
}
#socialLogo>li{
float: left;
list-style: none;
font-weight: bold;
color: black;
}
#socialLogo>li>a{
  padding-left: 20px;
}
#socialLogo>li>a>i{
 color: brown;
}
#text{
  transform: translate(880px,-115px);
  padding-left: 10px;
  width:170px;
}
#password{
  transform:translate(879px,-115px);
  padding-left: 10px;
  width: 170px;
}
#button{
  transform: translate(875px, -115px);
  width:100px;
}
#image{
  width: 1349px;
  height: 500px;
  background-color: lightgreen;
}
.header{
  width: 1349px;
  height: 177px;
  background-color: lightpink;
}
.img{
  margin-bottom: 150px;
  width: 1349px;
  height: 800px;
  transform: translateY(-117px);
  z-index: -77;
}