@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
body{
	background:#fff;
	width:270px;
	margin: 0px auto;
	margin-top:0px;
	font-family: 'Droid Serif', serif;
	}
#newsticker-demo {
	margin:0ps auto;
	float:left;
	width:270px;
	height:313px;
}
#newsticker-demo li {
	list-style:none;
	display:block; 
    width:100%;
	height:270px;
	float:left;
	font-family: 'Droid Serif', serif;
	font-size:14px;
	border :0px solid red;
	text-align:center;
}
#newsticker-demo li a {
	color:blue;
	text-decoration:none;	
}
#newsticker-demo li a:hover {
	text-decoration:underline;
}

 .previous1  /* Css for Previous Icon */
{
    /* width :10px; */
    /* height :15px; */
	padding:5px;
	/* background:#7b1412; */
	cursor: pointer;
    color: #fff;
	font-size: 32px !important;
	cursor:pointer; 
	right:10px;
	position:fixed;
	top:10px;
	z-index:9999;
	
}
.next1  /* Css for Next Icon */
{
    /* width :10px; */
    /* height :15px; */
	padding:5px;
	/* background:#7b1412; */
	cursor: pointer;
    color: #fff;
	font-size: 32px !important;
	outline:none;
	cursor:pointer;
	top:10px; 
	position:fixed;
    left:10px;
    z-index:9999;
}